@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;600&display=swap');

#timeline_box {
    background-color: #ECF9F6;
    width: 80%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5em;
}

.timeline-text{
    font-family: 'bitter', serif;
    color: #783E04;
}
#timeline-unit{
    margin: 80px;
}
#timeline-info{
    width: 80%;
    margin: auto;
}
#header{
    font-weight: 600;
}
#explainer{
    border-bottom: 2px #783E04 solid;
    padding-bottom: 10px
}
#sources {
    border-top: 2px #783E04 solid
}
#byline, #sources{
    font-size: 12px;
    margin: 0px
}

/*MOBILE TIMELINE */
#mobile_container{
    width: 80%;
    margin: auto;
    height: 600px;
    /* overflow-y: scroll; */
    background-color: #ECF9F6 ;
}
#mobile_timeline{
    height: 500px;
    overflow-y: scroll;
    width: 80%;
    margin: auto;
}
#mobile_byline{
    height: 100px;
    width: 90%;
    margin: auto;
}